/* Default styles */

/******************** Global styles ***********************/

* {

    box-sizing: border-box;

}

body {

    margin: 0;
    background-color: #ecf0f1;

}

/* unvisible label */
label.hidden {

    text-indent: -1000px;
    position: absolute;

}

h1.main-heading {

    width: 100vw;
    margin-top: 0px;
    text-align: center;
    padding: 20px 0 5px 0;
    color: #6322ee;
    background: white;
    box-shadow: 3px 0px 4px #aaaaaa;

}

.container {

    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}

/******************** Result sections ***********************/

.result-section {

    display: inline-block;
    vertical-align: top;

}

.result-section .results{

    display: inline-block;
    vertical-align: top;
    width: 100%;
    /* border: 2px solid #ff00ff; */
    border-radius: 0 10px 10px 10px;
    height: 600px;
    background-color: #ffffff;
    padding: 10px;
    /* box-shadow: 0 0 1em #888888 inset; */

}

.result-section h2 {

    background: #3498db;
    min-width: 100px;
    padding: 10px;
    width: 20%;
    color: white;
    margin-bottom: 0px;
    border-radius: 0 10px 0 0;

}

#resultImages, #resultWebs{

    overflow-y: auto;
    position: relative;

}

/******************** Result webs section ***********************/

.result-webs {

    width: 45%;

}

#resultWebs .item {

    height: 130px;
    padding: 10px;
    margin: 5px 0;
    overflow: hidden;
    position: relative;
    background: #ecf0f1;

}

#resultWebs .item h3 {

    margin: 0 0 5px 0;
    text-align: left;
    overflow-wrap: break-word;

}

#resultWebs .item a {

    display: block;
    text-align: left;

}

#resultWebs .item p {

    margin: 0;
    text-align: left;
    margin-top: 10px;

}

/******************** Result images section ***********************/

.result-images {

    width: 52%;
    margin-right:3%;

}

#resultImages .item {

    display: inline-block;
    vertical-align: top;
    line-height: 135px;
    width: 31%;
    height: 135px;
    margin: 5px 1%;
    background: #ecf0f1;
    cursor: pointer;

}

#resultImages img {

    max-height: 100%;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 10px;

}

#resultImages .item:hover {

    background: #34495e;

}

/******************** Seach bar ***********************/

.search-bar {

    margin-bottom: 10px;

}

.search-input {

    width: 70%;
    padding: 10px;
    border-radius: 100px 0 0 100px;
    font-size: 20px;
    height: 50px;
    border: 2px solid #3498db;
    background: none;

}

.search-input:focus {

    outline: none;
    background: #ffffff;

}

.btn-search {

    width: 10%;
    height: 50px;
    vertical-align: top;
    border-radius: 0 100px 100px 0;

}

/*
 Button styles
 Structured for possible implemantation of more buttons
 */

.btn{

    cursor: pointer;
    border: none;
    min-width: 100px;

}

.btn:focus {

    outline: none;

}

.btn-default {

    background: #2c3e50;
    font-size: 20px;
    color: white;

}

/* File containing styles for cover div for images */

.cover-div {

    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    background: rgba(20, 20, 20, 0.5);

}

.image {

    position: absolute;
    text-align: center;
    background: #2c3e50;
    padding: 20px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.image img {

    max-height: 80%;
    max-width: 80%;

}

.img-div a{

    display: block;
    text-align: center;
    color: #c0392b;
    font-size: 18px;

}

/* Navlinks styles */

.navlinks ul {

    margin: 5px 0 0 0;
    padding: 0;
    list-style-type: none;

}

.navlinks ul li {

    display: inline-block;
    width: 50px;
    text-align: center;
    color: #8e44ad;
    cursor: pointer;

}

.navlinks ul li.active {

    font-weight: bold;
    text-decoration: underline;

}

.navlinks ul li:hover {

    color: #27ae60;

}


/* Noscript */

noscript {

    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #2980b9;
    text-align: center;
    z-index: +10;

}

noscript h1 {

    color: #f39c12;
    position: relative;
    font-size: 10vw;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}


/******************** Responzive ***********************/

@media only screen and (max-width:768px){

    .result-section {

        width: 90%;
        margin: 0;

    }

    #resultImages .item {

        width: 48%;

    }

}

@media only screen and (max-width:500px){

    .search-input {

        width: 95%;
        display: block;
        margin: 0 auto;
        border-radius: 100px;

    }

    .btn-search {

        width: 95%;
        display: block;
        border-radius: 100px;
        margin: 5px auto 0 auto;

    }

}
